body {background-color:#5a9b9f ;}

h1{
  color: White;
  font-family: 'Futura';
  padding: 10px;
  background-color:#b82837;
  margin: 10px;
  display:inline-block;
}

h2{font-family: 'Helvetica';
  padding: 5px;
  background-color: #b82837;
  width: 250;
}

h3{
  color: Black;
  font-family: 'Helvetica';
  padding: 10px;
  background-color: #7f7f7f;
}

h4 {
  font-family: 'Futura';
  color: #fff;
  font-size:52px;
  text-align:center;
}

p {
  font-family: Helvetica;
  font-size:52px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
}

.color-1 {background: #5a9b9f;}
.color-2 {background: #b82837;}

button {
  background-color:#f27186;
  border: none;
  color:white;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}
.padding-hover:hover {
  background-color: Aqua;
  color:white;
  padding: 1em 1em 1em 1em;
}
.visited-gray:visited {
  color: Black;
}

.container {
  background-image: url(https://github.com/kyleerlandson/gra-321/blob/master/code-exercises/img/Nils.jpg?raw=true);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:75%;
}

.exercise-4 {
  margin: 5% auto;
  width: 100%;
  text-align: center;
  display: block;
}


@media screen and (max-width: 1000px) {
  body {
    background-color: SteelBlue;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: SkyBlue;
}
}


.background{
  background-color: Grey;
  margin:50px;
  border:50px;
  width:94%;
  height: 1600px;
}
