
h1{
  color: White;
  font-family: 'Futura';
  padding: 10px;
  background-color:#b82837;
  margin: 10px;
  display:inline-block;
}

h2{font-family: 'Helvetica';
  padding: 5px;
  background-color: #b82837;
  width: 250;
}

h3{
  color: Black;
  font-family: 'Helvetica';
  padding: 10px;
  background-color: #7f7f7f;
  margin:10px;
  display:block;
}

h4 {
  font-family: 'Futura';
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;
}
h5{
    font-family:'Helvetica'
}

p {
  font-family: Helvetica;
  font-size:52px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
}
