html {
font-size: 16px;
box-sizing: border-box;
}

body {
  background-color: #000000;
   margin:0;
  padding:0;
}

header {
background-color: #000000;
width: 100%;
}


.header-nav {
  background-color: #C0C0C3;
  width:100%;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
font-size: 50px;
line-height:100px;
cursor: pointer;
background-color: #C0C0C3;
}

ul.menu-items {
padding: 20px 0 0 0;
margin: 0;
list-style-type: none;
text-align: left;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: center;
  color: white;
  display:block;
  background-color:black;
}

ul.menu-items a:first-of-type {
  padding-top:10px;
}

ul.menu-items a:last-of-type {
  padding-bottom:10px;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

#drink-menu, #food-menu, #get-in-touch,#locations-hours {
  height:auto;
}

#coffee{
  width:500px;
}

.drink-menu{
  list-style-type: none;
}


li, ul, p {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  background-color: black;
  margin:0px;
  padding:10px;
}

section {
  background-color:;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


section h1, p, ul, li {
  color:;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  background-color: ;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:40%;
  text-align:left;
  background-color:;
  color:white;
  font-family: Raleway;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: left;
  text-align:left;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}


#food{
  width:500px;
}

#shop{
  width:500px;
}

iframe {
width:80%;
 }

.north{
  text-align:center;
}

.description{
width: 95%;
text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

h1{
font-family: 'Raleway', sans-serif;
font-weight:600;
color:white;
text-align:center;
font-size:2rem;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color:white;
  text-align: center;


}

h3{
  color:white;
  font-family: Raleway;
}

h4{
  color:white;
  font-family: Raleway;
}

li{
  font-family: Raleway;
  color: white;
}
